
*{
    margin: 0;
    padding: 0
}
.red,.blue,.orange{
    width: 100vw;
    height: 34vh;
}
.red{
    background-color: red;
}
.blue{
    background-color: blue;
}
.orange{
    background-color: orange;
}