*{
    margin:0;
    padding: 0;
}
.container{
    background-color: rgb(182, 214, 208);
    width: 100vw;
    height: 100vh;
}
.main{
    background-color: white;
    width: 800px;
    height: 520px;
    position: relative;
    left: 30%;
    top: 45px;
}
.titleSurvey{
   position: relative;
   top: 10px;
   left:48%;
    width: 300px;
}
.context{
    position: relative;
    left: 300px;
    top: 50px;
    width:500px ;
}
.radioButton{
    display:flex;
    flex-direction: column;
    width: 50%;
    position: relative;
    right: 16px;
    top: 3px;
}
.freeCodeCamp{
    display: flex;
    position: relative;
    right: 245px;
    margin: 14px;
}
.frecodecampSpan{
    position: relative;
    left: 100px;
}

 .letUsText{
    position: relative;
    right: 85px; 
}
.namendEmail{
  margin: 25px auto;
}

.agelabelinput{
    position: relative;
    left: 10px;
}
.agelabelinput input{
    width: 260px;
    
}

.nameClass, .emailLabelandinp,.agelabelinput{
    margin: 20px auto;
}

.input{
    height: 25px;
    border: 1px solid gray;
    color: gray;
    position: relative;
    left: 10px;
}

.selectdecribes { 
    position: relative;
    right: 245px;
   
   
}
.selected{
    width: 120px;
    height: 30px;
    background-color: #eae8e8;
    position: relative;
    left: 15px;

}

.FCCClass{
    display:flex;
    position: relative;
    right:170px;
    top: 12px;
}
.fccSelect{
    position: relative;
    left: 22px;
    width: 120px;
    height: 30px;
    background-color: #eae8e8;
}
.FrontorBackend{
    display: flex;
    position: relative;
    right: 245px;
    top: 30px;
}
.check{
    position: relative;
    left: 143px;
}
.checkbox{
    width: 200px;
    position: relative;
    left: 20px;
}
.checkParagraph{
    width: 287px;
}