*{
    margin: 0;
    padding: 0;
}

.first_flag_color{

    width:100vw;
    height: 50vh;
    background-color: rgb(9, 9, 255);
}
.second_flag_color{
   
    width:100vw;
    height: 50vh;
    background-color: yellow;
}

